body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999; /* Ensures the header is above other elements */
}

.gradient-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-image: linear-gradient(to right, #00aaff, #00ff99);
  color: #fff;
}

h1 {
  font-size: 24px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #f2f2f2;
}

.intro-section {
  background-color: #f9f9f9;
  padding: 40px 20px;
  text-align: center;
}

.intro-content {
  max-width: 800px;
  margin: 0 auto;
}

.intro-content h2 {
  color: #007bff;
  font-size: 28px;
  margin-bottom: 20px;
}

.intro-content h3 {
  color: #007bff;
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.intro-content p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.section {
  background-color: #fff;
  padding: 40px 20px;
}

.section-content {
  max-width: 800px;
  margin: 0 auto;
}

.section-content h2 {
  color: #007bff;
  font-size: 28px;
  margin-bottom: 20px;
}

.section-content h3 {
  color: #007bff;
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.section-content p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify;
}

/* Add styles for images */
.section-content img {
  max-width: 100%;
  display: block;
  margin: 20px auto; /* Optional: Add spacing around images */
}
